.svg-anim path:nth-child(1) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 0.2s;
}
.svg-anim path:nth-child(2) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 0.4s;
}
.svg-anim path:nth-child(3) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 0.6s;
}
.svg-anim path:nth-child(4) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 0.8s;
}
.svg-anim path:nth-child(5) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 1s;
}
.svg-anim path:nth-child(6) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: animate-text 2.3s ease forwards 1.2s;
}

.svg-anim {
    animation: fill-text 0.4s ease forwards 2.3s;
}

.love path:nth-child(1) {
    stroke-dasharray: 2057;
    stroke-dashoffset: 2057;
    animation: animate-text 2s ease forwards;
}

.love {
    animation: fill-love 0.4s ease forwards 2s;
}

@keyframes animate-text {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-text {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes fill-love {
    from {
        fill: transparent;
    }
    to {
        fill: red;
    }
}
